<div *ngIf="habit" class="fixed inset-0 flex items-center justify-center bg-[#dcdcdc]/70 dark:bg-black/60 p-4">
  <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full relative max-w-sm border border-gray-200 dark:border-gray-700">
    <h2 class="text-lg font-semibold dark:text-white">Editar Hábito</h2>

    <div class="space-y-2">
      <input [(ngModel)]="habit.title"
        class="w-full p-2 border-2 border-gray-200 dark:border-gray-600 bg-transparent rounded-lg focus:border-blue-500 outline-none dark:text-white placeholder:text-sm"
        placeholder="Título do hábito" />

      <textarea [(ngModel)]="habit.description"
        class="w-full p-2 border-2 border-gray-200 dark:border-gray-600 bg-transparent rounded-lg focus:border-blue-500 outline-none dark:text-white placeholder:text-sm"
        placeholder="Descrição do hábito">
      </textarea>
    </div>

    <div class="mt-4">
      <h3 class="text-md font-semibold dark:text-white">Evolução do Hábito</h3>
      <ngx-charts-bar-vertical class="flex justify-center items-center dark:text-white"
        [view]="[350, 300]"
        [scheme]="darkMode ? darkColorScheme : colorScheme"
        [results]="chartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showDataLabel]="true"
        [yScaleMax]="10"
        [barPadding]="50"
        >
      </ngx-charts-bar-vertical>
    </div>

    <div class="mt-4 flex justify-end space-x-2">
      <button (click)="save()"
        class="px-4 py-2 bg-blue-500 hover:bg-blue-400 active:bg-blue-600 transition-all text-white rounded-lg">
        Salvar
      </button>
      <button (click)="close()"
        class="px-4 py-2 bg-gray-300 dark:bg-gray-700 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-600 active:bg-gray-400 dark:active:bg-gray-500 transition-all text-black dark:text-white">
        Cancelar
      </button>
    </div>
  </div>
</div>